
@font-face{
  font-family: "Lato-Regular";
  src:url('../font/Lato-Regular.ttf');  
}

@font-face{
  font-family:'Amplify_PersonalUseOnly';
  src:url('../font/Amplify_PersonalUseOnly.ttf');
}


@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?46897600');
  src: url('../font/fontello.eot?46897600#iefix') format('embedded-opentype'),
       url('../font/fontello.woff?46897600') format('woff'),
       url('../font/fontello.ttf?46897600') format('truetype'),
       url('../font/fontello.svg?46897600#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?46897600#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-facebook:before { content: '\e800'; } /* 'о Ђ' */
.icon-google:before { content: '\e801'; } /* 'о Ѓ' */
.icon-desktop:before { content: '\e802'; } /* 'о ‚' */
.icon-globe-alt-outline:before { content: '\e803'; } /* 'о ѓ' */
.icon-twitter:before { content: '\e804'; } /* 'о „' */
.icon-camera-alt:before { content: '\e805'; } /* 'о …' */
.icon-flag-empty:before { content: '\e806'; } /* 'о †' */
.icon-pencil:before { content: '\e807'; } /* 'о ‡' */
.icon-compass:before { content: '\e808'; } /* 'о €' */


* {
  margin:0;
  padding:0;}

body {
  font-family:"Lato-Regular";
}

li {
  list-style-type: none;
}
.layout-cener-wrapper {
  width: 1200px;
  margin: 0 auto;
}

.clearfix:after{
  content: '';
  display: table;
  clear: both;
}

a {  text-decoration: none;}

.t-a-c {
  text-align: center;
}

  .logo{
    font-family: 'Amplify_PersonalUseOnly';
    font-size:2.5em;        
    line-height: 1.75em;    
  } 

/* header */
header {  
  background: #353434;
  color: #fff;
  .logo {float: left;
  width: 110px;}
  .top-menu {
    float: left;  
  }
  li {
    display: inline-block;
  }
  .top-menu a {
    display: block;
    padding: 1.875em 1.25em;
    margin-right: -0.2em;
    text-decoration: none;
    text-transform: uppercase;
  }
  .social {
    float: right;
  }
  .social li {
    display: block;
    float: left;
    padding: 0 0.5em;
    margin: 1em 0.35em;
    line-height: 2.5em;  
    border: 0.15em solid white;
  }

  a:hover, a:visited, a:link, a:active {  color:#fff;  }

  .social {
    float: right;
  }
}

/*header_end*/


/*slider*/
.slider{
  background: black url('../img/Slider.jpg') no-repeat center;
  height: 580px;
  
    
    text-transform: uppercase;
    font-size: 2em;
    line-height: 1.5em; 
    font-family: 'Times New Roman';
 
       
    padding-left: 43%;

    div{padding-top: 4em;}
    span{
     background-color: rgba(255,255,255,0.5);
      }


}

/*slider_end*/

/*feature*/
.features{
  background-color: #f7f7f7;
  padding-top: 3.125em ;
  padding-bottom: 3.125em ;
  
    h3{
      font-size: 1.375em;  
      color: #767676;
    }  

    a:hover, a:visited, a:link, a:active {  color: #848484;  }

    p {
      font-size: 0.9375em;  
      margin-bottom: 1em;
      margin-top: 1em;
      color: #9e9e9e;
    }
    


    .feature-right {
      float:right;
      width: 242px;
    }
}

li.feature-icon{
 background:#65bf95;
 font-size: 4.15em;
 width: 1.5em;
 height: 1.5em; 
 line-height: 1.5em;
 border-radius: 50%;
 color: white;
 float: left;
 margin-right: 0.6em;
 
}

.item {  
  width: 33%;
  float: left;
  margin: 50px 0;  
}



/*Testimotionals*/
  .hr{
    width: 1px;
    height: 100px;    
    background: #dedede;
    margin: 0 auto;
  }
  
  .vl {
    width: 14px;
    height: 1px;    
    background: #dedede;
    margin: 0 auto;
  }

.layout-center-small{
  width: 60em;
  margin: 0 auto;
}

.testimonials { 
  input[name ="rbs"] {display: none;}  
  h1{margin-top: 1.25em;
    margin-bottom: 2em; 
    color: #4f4f4f;
  }
  
  label  {
      display:inline-block;
      width:13px;
      height:13px;
      margin:0 2px ;
      vertical-align:middle;
      cursor:pointer;
      -moz-border-radius:  50%;
      border-radius:  50%;
      background: #bebebe;  
  }

  blockquote, p , label  {    
    line-height: 2em;
    margin: 1em auto;
    color: #8f8e8e;
  }

  p{
    font-weight: 700;
    color: #dedede;
  }

  .tab1, .tab2, .tab3 {display: none}

  #radiobutton1:checked~.tab1, 
  #radiobutton2:checked~.tab2,
  #radiobutton3:checked~.tab3 {display: block;}

  #radiobutton1:checked~label[for="radiobutton1"], 
  #radiobutton2:checked~label[for="radiobutton2"],
  #radiobutton3:checked~label[for="radiobutton3"] {background: #dadada;}

}




/*about*/
.about {
  background: url('../img/Example.jpg') no-repeat;
  a:hover, a:visited, a:link, a:active {  color:white;  }
}

.about-left {
  float:right;
  width: 50%;
  padding: 4.5em 2em;
  background: #3b3b3b;
  color: white;
  box-sizing: border-box;

  h2{
    text-transform: uppercase;
    font-size: 2em;
    padding-bottom: 1em;
  }
  p {
    padding-bottom: 1em;
  }

   a {padding-top: 1.75em;
    margin-top: 1.75em}  
}

/*about_end*/

/*callToAction*/
.call-To-Action{
  padding:6em;
  color:#6b6b6b;

  h2{font-size: 2.25em}
  p{font-size: 1.125em;
    margin-top: 1em;}

  button{
    /*width: 16.25em;*/
    color:white;
    background-color: #65bf95;
    border:0;
    padding:1.325em 3.75em;
    text-transform: uppercase;
    margin-top: 4em;
  }
}
/*callToAction_end*/

/*footer */
footer {
  padding:6em 0;
  background: #f7f7f7;
  color: #4f4f4f;
  logo{margin: 0 auto;}

}
/*footer-end*/

